html > body {
    font-family: "Roboto", serif;
    background: #353740;
    color: snow;
    transform: 150ms;
}

.header-1 {
    font-weight: 600;
    font-size: 2em;
}

.label-1 {
    font-weight: 400;
    font-size: 1em;
}

.mt-20 {
    margin-top: 5%;
}


.hr-orange {
    height: 1px;
    border-top: 1px solid darkorange;
    padding: 0;
    margin: 0;
}

.question-text {
    font-size: 1.3em;
    font-weight: 500;
    color: #ededed;
}

.variant {
    font-size: 1.3em;
    font-weight: 300;
    color: #ededed;
}

#questions, #resultContainer {
    display: none;
}


.result {
    font-size: 3em;
    font-weight: 300;
}

input[type=radio] {
    border: 0;
    height: 20px;
    width: 20px;
}

.container-box {
    background: #2d2f39;
    border: 2px solid darkorange;
}

.download-btn {
    background: green;
    font-weight: 500;
    font-size: 2em;
    color: snow;
}

.download-btn:hover {
    color: snow;
    text-decoration: none;
}

.info-container {
    background: #1e2027;
 }

.info-header {
    font-weight: 300;
    font-size: 1.4em;
}

.info-header:hover {
    cursor: pointer;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

#info-container {
    display: none;
}
